.container {
    margin-top: 100px;
}

.body{
    background-color: #f9fafc;
    font-family: 'Nunito', sans-serif;

}

.icon-location{
    width:1.2vw;
    text-align: right !important;
}

.card-title {
        color: #222629!important;
    font-size: 1.5vw;
}

.map{
    width: 47vw; 
    height: 40vh;
}
.profile-picture{
    height:30vh ;
}
.card-info{
        color: #222629!important;
    font-size: 1vw !important;
    font-family: 'Nunito', sans-serif;  
}

.card {
    /*box-shadow: 20px 10px 6px rgba(0, 0, 0, 0.1);  Syntax: offset-x | offset-y | blur-radius | spread-radius | color */
    border-radius: 10px !important;
    background-color: #f9fafc !important;
    
}

.card-index {
    /*box-shadow: 20px 10px 6px rgba(0, 0, 0, 0.1);  Syntax: offset-x | offset-y | blur-radius | spread-radius | color */
    border-radius: 10px !important;
    background-color: #f9fafc !important;
    align-items: center;
    width: 16.5vw !important;
    height: 16.5vw !important;

    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none !important;
}

.btn {
    font-size: 1vw !important;
    font-family: 'Nunito', sans-serif;
    /*box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);  Syntax: offset-x | offset-y | blur-radius | spread-radius | color */
    border-radius: 100px !important;
    
    margin: 5px 0px;
}

.btn-light{
    border: solid 1px #333333 !important;
}

.question {
    margin-top:10px !important;
}

.logo {
    width:70%;
    text-align: center
}

.index-menu {
    display: flex ;
    justify-content: space-between;
}

.table-card-body {
    width: 100%; /* Menentukan lebar kontainer tabel */
    height: 300px; /* Menentukan tinggi kontainer tabel */
    overflow: auto; /* Mengaktifkan scroll bars jika konten melebihi ukuran kontainer */
}

.index-alert {
    text-align: left;
    align-items: left;
    justify-content: center;
}



@media screen and (max-width: 600px){

    .col-logo{
        margin-bottom:10px;
        height:6vh
    }

    .h1-index{
        font-size: 3vh
    }

    .card-riwayat{
        height: 40vh !important;
    }

    .font-weight-bold{
        margin: auto !important;
    }

    h2 {
        font-size: 2vh !important;
    }

    h3 {
        font-size: 3vh !important
    }

    .logo {
        width:60%;
        text-align: center
    }
    
    .index-menu {
        display: block ;
        align-items: center;
        justify-content: center;
    }

    a {
        display: flex;
        justify-content: center;
    }


    .card-index {
        /*box-shadow: 20px 10px 6px rgba(0, 0, 0, 0.1);  Syntax: offset-x | offset-y | blur-radius | spread-radius | color */
        border-radius: 10px !important;
        background-color: #f9fafc !important;
        align-items: center;
        width: 70vw !important;
        height: 40vw !important;
    
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        padding-bottom: 0 !important;
    }

    .container {
        margin-top: 20px;
    }
    
    .card-title{
        
        font-size: 5vw;
    }

    .map{
        width: 70vw; 
        height: 40vh;
    }
    .currentDate, .greeting, #time {

        font-size: 3vw !important;
    }

    .wajib {
        color: red !important;
    }

    .question {

        font-size: 3vw !important;
        margin-top:10px !important;
    }
    .icon-location{
        width:3vw;
    }
    .card-img-top {
        width: 200% !important;
    }

    .btn {
        width: 100% !important;
        height: 100% !important;
        font-size: 3vw !important;
        margin-bottom: 10px ;
        padding: 5px !important;

    }

    .col{
        margin-bottom: 0px !important;
    }
    .card-form{
        display: block;
    }

    .card {
        padding-bottom: 20px;
        
    }

    .information{
        font-size: 3.5vw !important;
    }
}